{% extends 'base.html' %}
{% load static %}

	
  {% block title %} EasyBreeding {% endblock %}
  
	{% block stylesheets %}
		<link href="{% static "assets/css/login.css" %}" rel="stylesheet">
	{% endblock %}

{% block nav_sidebar %}
    
{% endblock %}

{% block content_main %}
	
		</br>
		<br><br><br><br>
		<div class="align card container border border-success">
		
		  <div class="grid card-body row">
		  	<section id="content" class="col-sm-6 col-md-12 p-2 mx-auto ">
					<h3 class="card-title" > Email envoyé ! </h3>
					<p>Nous avons envoyé les instructions pour réinitialiser votre mot de passe.</p>
					<hr><hr>
					<br><br>
					<h5> Vérifier votre boite de reception email</h5>
					<p> Vous devrez recevoir l'email!</p>
					<p> Sinon verifiez que vous avez entré la bonne adresse email !</p>
							
				</section>
		  </div>
		  
		</div>

{% endblock %}
{% block footer %}
	
{% endblock %}